/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
  color:#000;
}

/*
    TODO remove settings on BODY since we can't namespace it.
*/
/*
    TODO test putting a class on HEAD.
        - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

// 以下、メルカリ全ページに指定されてるっぽいCSS
:root {
  cursor: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font: 66.66667% sans-serif;
}
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  height: 100%;
  overflow-y: auto;
}
body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.bold{
  font-weight: 600;
}
ul, ol {
  list-style: none;
}
a{
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
}
img {
  vertical-align: middle;
}
h2 {
  font-size: 22px;
  line-height: 1.4;
}
h3 {
  font-size: 22px;
}
a:hover {
  text-decoration: underline;
  opacity: .7;
}
small {
  font-size: 75%;
}
input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}
i {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  min-height: 1.5em;
}
label {
  display: inline-block;
}
select {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  touch-action: manipulation;
}
textarea {
  border-radius: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  touch-action: manipulation;
  resize: vertical;
}