$red: #ea352d;
$white: rgb(255, 255, 255);
$sky_blue: #0095ee;
$black: #333;
$form: #f5f5f5;
$back_gray: #efefef;
$menu_gray: #eee;
$box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16);
$menu-shadow: rgba(0, 0, 0, .24);
