%main.signup-main
  %section.signup-main__container
    %h2.signup-main__head.signup-main__head--registration
      新規会員登録
    .signup-main__inner.signup-main__inner--registration-form
      .signup-main__content
        = link_to '/signup/registration', class: 'signup-main__btn-default signup-main__btn-mail' do
          = icon 'far', 'envelope'
          メールアドレスで登録する
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--facebook{ id: 'signup-main__facebook-login' }
          = icon 'fab', 'facebook-square'
          Facebookで登録する
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
          %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--google{ id: 'signup-main__google-login' }
            Googleで登録する
  %form
