.toppage-main__content
  = link_to 'sell/1' do
    %figure.toppage-main__image
      %span ¥300
      = image_tag 'https://i.imgur.com/YiWdN3V.png'
    .toppage-main__item-name
      %span 1234567890123456789012345678901234567890
    %figcaption
      .toppage-mein-sold
        %div SOLD
.toppage-main__content
  = link_to 'sell/1' do
    %figure.toppage-main__image
      %span ¥300
      = image_tag 'https://i.imgur.com/YiWdN3V.png'
    .toppage-main__item-name
      %span 1234567890123456789012345678901234567890
    %figcaption
      .toppage-mein-sold
        %div SOLD