.indentification-content{
  height: 1208px;
  width: 700px;
  background-color:  white;
  float: right;
  &__mypage{
    height: 100%;
    width: 100%;
  }
  &__head{
    font-weight: bold;
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }
  &__form{
    padding: 64px;
    border-top: 1px solid #f5f5f5;
  }
  &__info{
    margin-top: 8px;
    line-height: 1.5;
  }
  &__textlink{
    margin-top: 8px;
    line-height: 1.5;
    color: #0099e8;
    text-align: right;
    a{
      text-decoration: none;
      color: #0099e8;
    }
  }
  &__group{
    margin-top: 40px;
    label{
      font-weight: 600;
    }
    p{
      margin-top: 8px;
      line-height: 1.5;
    }
    span{
      background-color: #ccc;
      margin-left: 8px;
      padding: 2px 4px;
      font-size: 12px;
      vertical-align: top;
      color: white;
      border-radius: 2px;
    }
    input{
      height: 48px;
      width: 100%;
      margin-top: 8px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  &__select{
    height: 48px;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    position: relative;
    i{
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 16px;
      transform: translate(0, -50%);
    }
    select{
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
  &__button{
    margin-top: 40px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}
#textinfo{
  margin-top: 40px;
}
