// Place all the styles related to the mypagre_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.l-content {
  float: right;
  width: 700px;
  height: 568px;
  background-color: white;
  .l-chapter-container {
    height: 100%;
    width: 100%;
    &__head {
      box-sizing: border-box;
      padding: 8px 24px;
      height: 50px;
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
    }
    form {
      height: 518px;
      box-sizing: border-box;
      .setting-profile-icon {
        padding: 72px 16px 24px;
        background: image-url('user-bg.jpg');
        background-size: contain;
        text-align: center;
        figure {
          margin: 0 0 0;
          display: inline-block;
          width: 60px;
          height: 60px;
          vertical-align: middle;
          .image-image {
            border-radius: 50%;
          }
        }
      }
      .input-default {
        box-sizing: border-box;
        width: 220px;
        height: 48px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        font-size: 16px;
        background-color: white;
        border-radius: 4px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        line-height: 1.5;
        &:focus {
          outline: none;
          border: 1px solid #0099e8;
        }
      }
    }
    .setting-profile-content {
      height: 362px;
      box-sizing: border-box;
      padding: 40px 16px;
      .textarea-default {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 216px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: white;
        font-size: 16px;
        line-height: 1.5;
        &:focus {
          outline: none;
          border: 1px solid #0099e8;
        }
      }
      .btn-default.btn-red {
        margin: 16px 0 0;
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: white;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        transition: all ease-out .3s;
        cursor: pointer;
      }
    }
  }
}