body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1;
}
.toppage-footer-top{
  height: 260px;
  width: 100%;
  background-image: url('https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg');
  &__box{
    height: 100%;
    width: 750px;
    margin: 0px auto;
  }
  &__downloadlink{
    float: left;
    box-sizing: border-box;
    margin: 30px 0;
  }
  &__photo{
    height: 260px;
    width: 300px;
    float: right;
  }
  &__label{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__text{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
  }
  &__mercariicon{
    margin-right: 20px;
  }
  &__appstoreicon{
    margin-right: 8px;
    &:hover{
      filter: opacity(70%);
      cursor: pointer;
    }
  }
  &__googleicon:hover{
    filter: opacity(70%);
    cursor: pointer;
  }
  #toppage-appleicon{
    text-decoration: none;
  }
}
.toppage-footer-bottom{
  height: 389px;
  width: 100%;
  background-color: rgb(34,34,34);
  color: rgb(255,255,255);
  font-size: 12px;
  padding: 0px 10px;
  box-sizing: border-box;
  &__navmain{
    width: 1020px;
    margin: 0 auto;
  }
  &__navlist{
    display: block;
  }
  &__summary{
    width: auto;
    margin-top: 18px;
    padding-right: 40px;
    vertical-align: top;
    display: inline-block;
    padding-left: 0px;
  }
  &__iconbox{
    display: inline-block;
    margin-top: 30px;
  }
  &__lefticon{
    margin-right: 20px;
  }
  &__icon{
    font-size: 30px;
    color: white;
  }
  &__guide{
    width: auto;
    padding-right: 40px;
    margin-top: 18px;
    display: inline-block;
  }
  &__privacy{
    padding-right: 40px;
    margin-top: 18px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
  &__country{
    width: auto;
    padding-right: 40px;
    margin-top: 18px;
    display: inline-block;
    vertical-align: top;
  }
  &__navtitle{
    font-size: 16px;
  }
  &__navurl{
    text-decoration: none;
    color: rgb(255,255,255);
    opacity: 0.7;
    &:hover{
      padding-bottom: 1px;
      text-decoration: underline;
    }
  }
  &__nav{
    line-height: 1.4em;
    margin: 16px 0px 0px;
  }
  &__license{
    margin: 30px auto 20px;
    width: 1020px;
  }
  &__information{
    color: white;
    text-align: center;
    width: 75%;
    padding-left: 15px;
    display: inline-block;
    font-size: 90%;
  }
  &__termsleft{
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  &__termsright{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  &__logo:hover{
    filter: opacity(70%);
    cursor: pointer;
  }
}