
.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__4ko
      %li.toppage-main__4
        .toppage-main__logo
          レディース
        .toppage-main__logo
          メンズ
        .toppage-main__logo
          家電・スマホ・カメラ
        .toppage-main__logo
          おもちゃ・ホビー・グッズ
  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          %a{href: "###" } もっと見る >
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            %a{href: "###"}
              .toppage-main__image
                %span ¥300
                %img{alt: "Thumbnail of \"ローファー\"",
                     src: "https://static.mercdn.net/thumb/photos/m65884800129_1.jpg"}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
