.pickup-content{
  &__red{
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__gray{
    border-top: 50px solid gray;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__sold{
    top: 18px;
    position: absolute;
    left: 0;
    z-index: 2;
    color: white;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
  }
  &__stop{
    top: 24px;
    position: absolute;
    left: 0;
    z-index: 2;
    color: white;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
  }
}
