.item-edit-content{
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
  &__delete{
    opacity: 1;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    overflow-x: hidden;
    overflow-y: auto;
  }
    &__delete-upper{
      text-align: center;
      max-width: none;
      width: 600px;
      margin: 20px auto;
      line-height: 1.5;
      background-color: white;
    }
      &__delete-upper-body{
        line-height: 1.5;
        text-align: center;
        padding: 64px;
        width: 600px;
        height: 236px;
      }
        &__delete-bold{
          font-weight: 600; 
        }
        it{
          padding: 64px;
        }
        &__delete-bold-button{
          border-style: solid;
          border-width: 0;
          cursor: pointer;
        }
          &__delete-bold-button-cancel{
            float: left;
            border-top: 1px solid #ccc;
            width: 50%;
            height: 64px;
            background-color: white;
            line-height: 64px;

          }
          &__delete-bold-button-submit{
            float: right;
            border-left: 1px solid #ccc;
            color: #0099e8;
            border-top: 1px solid #ccc;
            width: 50%;
            height: 64px;
            background-color: white;
            line-height: 64px;
          }
            
      
      

  h1{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &__photo{
    float: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;
  }
  &__auter{
    height: 300px;
    width: 300px;
    z-index: 0;
    overflow: hidden;  
  }
  &__owl-carousel{
    position: relative;
    height: 0;
  }
  &__owl-carousel-thumb{
    display: inline-block;
    font-size: 0;
    color: #fff;
    position: relative;
  }
  &__clearfix{
    margin-top: 16px;
  }
  &__table{
    float: right;
    max-width: 300px;
    height: 420px;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    th{
      width: 39%;
      text-align: left;
      font-weight: 400;
      background: #fafafa;
      padding: 8px
    }
    td{
      width: 61%;
      background: #fff;
      padding: 8px;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;  
    }
  }
  &__price{
    clear: both;
    margin-top: 24px;
    text-align: center;
  }
  &__bold{
    margin-right: 16px;
    font-size: 50px;
    font-weight: 600;
  }
  &__tax{
    font-size: 10px;
  }
  &__fee{
    display: inline-block;
    font-size: 16px;
  }
  &__comment{
    padding: 24px;
    background: #fff;
    p{
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
    textarea{
      margin-top: 8px;
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    button{
      width: 100%;
      margin: 8px 0 0;
      font-size: 0;
      text-align: center;
      background: #aaa;
      border: 1px solid #aaa;
      display: block;
      line-height: 48px;
      transition: all ease-out .3s;
      cursor: pointer;
      color: #fff;
      span{
        font-size: 14px;
        vertical-align: middle;
      }
    }
  }
  &__change-status  {
    padding-top: 20px;
    background-color: #f5f5f5;
    width: 700px;
    margin: 30px auto;
    text-align: center;
    a:hover {
      text-decoration: none;
    }
    &-btns  {
      padding: 24px 40px;
      background-color: #fff;
    }
    .btn-edit{
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }
    .btn-gray {
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
    }

  }
}
.item-edit-user-ratings{
  display: inline-block;
  margin: 8px 0 0 16px;
}
.fas.fa-smile{
  font-size: 16px;
  vertical-align: middle;
  color: #ef5185;
  margin: 0;
}
.fas.fa-meh{
  font-size: 16px;
  vertical-align: middle;
  color: #fba933;
}
.fas.fa-frown{
  font-size: 16px;
  vertical-align: middle;
  color: #6ab5d8;
}
#item-edit-icon-good{
  margin: 0px;
}
.item-edit-price-box{
  font-size: 24px;
  line-height: 60px;
  display: block;
  margin-top: 16px;
  background: #ea352d;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.item-edit-detail{
  padding: 32px 0;
  line-height: 1.5;
  font-size: 18px;
  &__inner{
    white-space: pre-wrap;
  }
}
.item-edit-button{
  margin-top: 16px;
  display: inline-block;
  padding: 8px 0;
  border-radius: 40px;
  width: 100%;
  &__left{
    float: left;
    button{
      display: inline-block;
      padding: 8px 16px;
      border-radius: 40px;
      color: #333;
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      span{
        margin: 1px 0 0 8px;
      }
    }
  }
  &__right{
    margin-top: 8px;
    float: right;
    font-size: 14px;
    span{
      font-weight: 400;
    }
  }
}
.far.fa-flag{
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  margin-left: 16px;
  span{
    margin: 1px 0 0 8px;
  }
}
.item-edit-content-box{
  width: 700px;
  margin: 8px auto;
}
.item-edit-nav{
  margin: 24px auto 0;
  width: 700px;
  &__left{
    width: 45%;
    display: inline-block;
  }
  &__right{
    float: right;
  }
}
.item-edit-media-box{
  margin: 32px auto;
  padding: 40px 0 24px;
  width: 700px;
  clear: both;
  background-color: #fff;
  text-align: center; 
  li{
    margin: 16px 8px 8px 0;
    font-size: 44px;
    display: inline-block;
    vertical-align: middle;
    .fab.fa-facebook-square{
      color:  #385185;
    }
    .fab.fa-twitter-square{
      color: #5d9dc9;
    }
    .fab.fa-line{
      color: green;
    }
    .fab.fa-pinterest-square{
      color: #aa262a;
    }
  }
}
.item-edit-user-profile{
  width: 700px;
  margin: 0 auto;
  h2{
    font-size: 22px;
    margin: 24px 0 8px;
  }
  &__content{
    background: #fff;
    width: 210px;
    margin: 0 20px 20px 0;
    display: inline-block;
    section{
      a{
        display: block;
        color: #333;
        text-decoration: none;
      }
    }
  }
  &__body{
    padding: 16px;
    h3{
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
      font-size: 16px;
      color: #333;
    }
  }
  &__price{
    font-size: 17px;
    font-weight: 600;
    color: #333;
  }
}
#bread-bottom{
  background: #f5f5f5;
  li{
    display: inline-block;
  }
}
.btn-default  {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin: 16px 0;
}

.item-edit-content__delete{
  opacity: 0;
  display: none;
}
.item-edit-content__deleteon{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2999;
  background: rgba(0,0,0,0.64);
  opacity: 1;
  display: block;
}
