.sell-container {
  padding-bottom: 250px;
}

.sell-main{
  &__container {
    background: #fff;
  }

  &__head {
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  &__form {
    border-top: 1px solid #eee;
  }

  &__upload-box {
    padding: 40px 2.5%;
  }

  &__upload-head {
    font-size: 16px;
    &+ p {
      margin-top: 8px;
      line-height: 1.5;
    }
  }
  &__form-require {
    background: #ea352d;
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  &__dropbox-container {
    display: inline;
    margin: 16px auto 0;
    .sell-main__upload-items-container {
      display: inline;
    }
  }

  &__upload-items {
    display: inline;
    ul {
      display: inline;
      width: 100%;
    }
    &--have-item-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    &--have-item-2 {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
    }
    &--have-item-3 {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
    }
    &--have-item-4 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
  &__upload-item {
    position: relative;
    display: inline-block;
    width: 18%;
    margin: 0 0 2% 2%;
    border: 1px solid #eee;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
  }
  &__upload-figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    background: #f5f5f5;
    img {
      cursor: default;
    }
    &--portrait img {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      height: 100%;
    }
    &--landscape img {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
    }
    &--square img {
      width: 100%;
    }
  }
  &__upload-button {
    font-size: 14px;
    a {
      display: inline-block;
      width: 50%;
      background: #f5f5f5;
      line-height: 44px;
      text-align: center;
      &:last-child {
        border-left: 1px solid #eee;
      }
    }
  }
  &__upload-label{
    float: right;
  }
  &__upload-drop-box {
    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    -webkit-transition: -webkit-box-shadow ease-out .3s;
    transition: -webkit-box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
    cursor: pointer;
    float: right;
    margin-left: 2%;
    &--have-item-0 {
      width: 100%;
      margin-left: 0;
    }
    &--have-item-1 {
      width: 80%;
    }
    &--have-item-2 {
      width: 60%;
    }
    &--have-item-3 {
      width: 40%;
    }
    &--have-item-4 {
      width: 20%;
    }
    &--disabled-upload {
      display: none;
    }
    .fa-camera {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 14px;
    }
  }
  &__content {
    padding: 40px;
    border-top: 1px solid #eee;
  }
  &__form-group {
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
    label {
      font-weight: 600;
      &+ .sell-main__textarea-default {
        margin: 8px 0 0;
      }
    }
    .sell-main__input-default {
      width: 100%;
      margin: 8px 0 0;
    }
    .sell-main__textarea-default {
      margin: 16px 0 0;
    }
    .sell-main__select-wrap {
      margin: 8px 0 0;
    }
    select {
      width: 100%;
    }
  }
  &__input-default {
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    &:focus {
      border-color: #0099e8;
    }
  }
  &__textarea-default {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    :focus {
      border-color: #0099e8;
    }
  }
  &__sub-head {
    color: #888;
    font-size: 14px;
  }
  &__form-box {
    margin: 40px 0 0;
  }
  &__select-wrap {
    position: relative;
    background: #fff;
    .fa-chevron-down {
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  &__select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    &:focus {
      border-color: #0099e8;
    }
  }
  &__form-question {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
  &__price{
    & > li {
      padding: 24px 0;
      border-top: 1px solid #ccc;
      &:first-child {
        padding: 0 0 24px;
        border: 0;
      }
    }
    .sell-main__form-group .sell-main{
      &__left {
      width: 50%;
      line-height: 48px;
      }
      &__right {
        width: 50%;
      }
    }
    .bold .sell-main{
      &__left {
        font-size: 16px;
      }
      &__right {
        font-size: 34px;
      }
    }
  }
  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
  &__price-input {
    text-align: right;
    .sell-main__input-default {
      margin: 0;
      text-align: right;
    }
    & > div {
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }
  }
  &__btn-box{
    p {
      line-height: 1.5;
    }
    .sell-main__btn-red {
      margin: 40px 0 0;
    }
    .sell-main__btn-gray {
      width: 45%;
      margin: 24px auto 0;
    }
  }
  &__btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  &__btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  &__btn-gray {
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
  &__has-error-text {
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
    li {
      margin-top: 8px;
    }
  }
  &__form-suggest-container {
    position: relative;
  }
  &__form-arbitrary {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #ccc;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2999;
  background: rgba(0, 0, 0, 0.64);
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .sell-container {
    padding-bottom: 220px;
  }
  .sell-main{
    &__container {
      width: 700px;
      margin: 0 auto;
    }
    &__head {
      padding: 32px 16px;
      font-size: 22px;
    }

    &__upload-box {
      width: 620px;
      padding: 40px;
    }

    &__dropbox-container {
      display: block;
      width: 620px;
    }

    &__upload-items {
      float: left;
      display: block;
      ul {
        display: block;
      }
    }
    &__upload-item {
      width: 116px;
      margin: 0 0 10px 6px;
    }

    &__upload-drop-box {
      float: right;
      width: 620px;
      padding: 40px;
      &--have-item-1 {
        width: 491px;
      }
      &--have-item-2 {
        width: 363px;
      }
      &--have-item-3 {
        width: 234px;
      }
      &--have-item-4 {
        width: 106px;
      }
      &--have-item-10 {
        display: none;
      }
      pre {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .fa-camera {
        display: none;
      }
    }
    &__upload-figure {
      width: auto;
      height: auto;
      padding: 0;
      height: 116px;
      &--portrait {
        text-align: center;
        img {
          position: static;
          height: 140px;
          -webkit-transform: none;
          transform: none;
        }
      }
      &--landscape {
        line-height: 116px;
        img {
          position: static;
          -webkit-transform: none;
          transform: none;
        }
      }
    }
    &__sub-head {
      float: left;
    }
    &__form-box {
      float: right;
      width: 400px;
      margin: 0;
    }
  }
}
