// Place all the styles related to the toppage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toppage-primary-wrapper {
  width: 100vw;
  height: 100vh;
}